.layout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    border: 1px solid darkcyan;
}

.layout main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center

}
