.ActiveQuiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
    
}

.Question {
    display: flex;
    justify-content: space-between;
    color: darkorchid;
}